Source: gasket
Maintainer: Coral <coral-support@google.com>
Build-Depends: debhelper (>= 9)
Homepage: https://coral.withgoogle.com/

Package: gasket
Architecture: amd64
Priority: optional
Section: kernel
Depends: linux-headers-truenas-production-amd64, linux-image-truenas-production-amd64
Description: source for the gasket driver
 Gasket (Google ASIC Software, Kernel Extensions, and Tools) provides 
 support for Google ASICs, specificially the Coral EdgeTPU.
